body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.color-section {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente los elementos */
    align-items: center;
    height: 100%;
}

label, input, p {
    text-align: center;
    margin: 5px 0; /* Añadimos un poco de margen para un mejor espaciado */
}

.bandera {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 0; /* Sin espacio entre los colores */
}

.color-box {
    width: 250px;
    height: 400px;
    margin: 0; /* Eliminamos el margen para unir las cajas */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centramos verticalmente los contenidos */
    align-items: center; /* Centramos horizontalmente los contenidos */
}

#color-verde {
    background-color: #008000;
}

#color-blanco {
    background-color: #FFFFFF;
    border: 1px solid #000;
}

pre.ascii {
    font-size: 16px; /* Tamaño reducido para los "@" */
    line-height: 16px; /* Reducir la altura entre filas */
}

#color-rojo {
    background-color: #800000;
}
